# Environment files
**/.env
**/.env.*
!.env.example

# Dependencies
node_modules/

# Build artifacts
build/
dist/

# Logs
npm-debug.log*
yarn-error.log*

# System & editor files
.DS_Store
Thumbs.db
.vscode/